body {
   background: #FFFFFF;
   font-family: 'intro';
   margin: 0;
   padding: 0;
}

section{
  position: relative;
  width: 100%;
}

.head-image{
  background-image: center;
  background-repeat: no-repeat;
  width: 100%;
}

header {
  padding: 0 0px;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  background: #262626;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  transition: .5s;
}

.intro {
  position:absolute;
  right:120px;
  top:400px;
}


.navigation ul {
  list-style-type: none;
  position: absolute;
  margin: -300px;
  right: 310px;
  padding: 0;
  display: flex;
  transform: .5s;
  overflow: none;
}

.navigation li a{
  position: relative;
  display: block;
  padding: 5px 5px;
  margin: 5px 0;
  text-transform: uppercase;
  text-decoration: none;
  color:#000000;
  font-weight: bold;
  transition: .5s;

}

.navigation li a:hover, .dropdown:hover .dropdown-button{
  background: #000;
  color: #fff;

}

li .dropdown{
  display: inline-block;
}

.dropdown-content{
  display: none;
    position: absolute;
    background-color: #d0d0d0;
    min-width: 5px;
    z-index: 1;
}

.dropdown-content a{
  color: #FFFFFF;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 8em
}
