body{
   background: #FFFFFF;
   font-family: 'intro';
   margin: 0;
   padding: 0;
   -webkit-font-smoothing: antialiased;
}

section{
  position: relative;
  width: 100%;
}

.head-image{
  background-image: center;
  background-repeat: no-repeat;
  width: 100%;
}

header {
  padding: 0 0px;
  font-family: 'intro';
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  background: #262626;
  box-shadow: 0 5px 15px rgba(0,0,0,.2);
  transition: .5s;
}

.intro {
  position:absolute;
  font-family: 'intro';
  color: #000000;
  right:180px;
  top:500px;
  font-size: 60px;
}


.navigation ul {
  list-style-type: none;
  position: absolute;
  margin: -300px;
  right: 310px;
  padding: 0;
  display: flex;
  transform: .5s;
  overflow: none;
}

.navigation li a{
  position: relative;
  display: block;
  padding: 5px 5px;
  margin: 5px 0;
  text-transform: uppercase;
  text-decoration: none;
  color:#000000;
  font-weight: bold;
  transition: .5s;

}

.navigation li a:hover, .dropdown:hover .dropdown-button{
  background: #000;
  color: #fff;

}

li .dropdown{
  display: inline-block;
}

.dropdown-content{
  display: none;
    position: absolute;
    background-color: #d0d0d0;
    min-width: 5px;
    z-index: 1;
}

.dropdown-content a{
  color: #FFFFFF;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* side-navigation */


html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

/* CONTAINER */
.container {width:80%; margin:0; padding:0px 20px 20px 20px;}

/* SIDEBAR NAVIGATION */
.sidebar {position:absolute; right:0;}
.dot {display:inline-block; width:10px; height:10px; background-color:rgba(255,255,255,.3); border-radius:10px; z-index:999; content:''; color:#d3d3d3; font-size:14px; line-height:10px; vertical-align:middle; margin:5px 0 5px 0; font-weight:300;}
.dot:hover {background-color:rgba(255,255,255,.8); color:#000000;}
.dot span {margin:0px 0px 20px 15px; position:relative; top:0px; left:-120px;}
nav {width:130px; height:0px;/*background-color:rgb(240,240,240); border:solid 1px rgb(220,220,220);*/ padding:0 0px; position:fixed; top:50%; right:20px; transform: translate(0, -50%); z-index: 10000; text-align:right;}
nav ul li a {text-decoration:none;}
nav ul {list-style-type:none; margin:0; padding:0;}
.name-active {color:#000000; background-color:#FFD95F; text-align:right;}

/* PAGE CONTENT */
.content {width:100%; text-align:justify;}
section {padding:0 0 20px 0;}
section:last-child {padding:0 0 100vh 0;}
.title {font-size:24px; color:#000000; text-transform:uppercase; padding:0 0 0px 0;}
p {margin:0; padding:0px 0 0px 0;}


/* full page scroll*/
#fullpage {
  height: 100vh;
}
#fullpage section{
  height:100vh;
}

.crop {
 height: 280px;
 width: 300px;
 overflow: hidden;
display: flex;

}


.crop img {
max-height: 280px;
max-width: 300px;
flex-shrink: 0;
flex: auto;

}

.grid-padding{
  padding: 10px;
}

li {
list-style-type: none;
}

.info {
  margin-left: 50px;
  width: 460px;
  font-family: courier;

}
.title {
  font-family: 'intro';
  font-size: 50px;
  padding-left: 80px;
}
